
@{
    ViewBag.Title = "MisionVision";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Misión</h2>
            <div class="well">
                <span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium recusandae repudiandae, vitae rerum officia optio. Sed
                    ratione facere corrupti esse autem deleniti atque ab accusamus tempora, odit, ea est in!
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Visión</h2>
            <div class="well">
                <span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium recusandae repudiandae, vitae rerum officia optio. Sed
                    ratione facere corrupti esse autem deleniti atque ab accusamus tempora, odit, ea est in!
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://placeimg.com/1000/500/any" class="img-responsive" alt="Image" width="100%">
        </div>
    </div>
</div>