
@{
    ViewBag.Title = "Objetivos";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Objetivos</h2>
            <span>Estos son nuestros objetivos:</span>
            <ul>
                <li>
                    <span>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut repellendus totam, minima perspiciatis
                        sapiente maxime fugiat nobis laudantium! Explicabo saepe culpa magnam dolores harum ducimus adipisci
                        aspernatur in consectetur voluptate?
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti adipisci, debitis, officiis saepe
                        nostrum sapiente laboriosam, quod distinctio provident velit amet eos aspernatur ut quas placeat?
                        Molestias iusto ullam accusantium?
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti adipisci, debitis, officiis saepe
                        nostrum sapiente laboriosam, quod distinctio provident velit amet eos aspernatur ut quas placeat?
                        Molestias iusto ullam accusantium?
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti adipisci, debitis, officiis saepe
                        nostrum sapiente laboriosam, quod distinctio provident velit amet eos aspernatur ut quas placeat?
                        Molestias iusto ullam accusantium?
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti adipisci, debitis, officiis saepe
                        nostrum sapiente laboriosam, quod distinctio provident velit amet eos aspernatur ut quas placeat?
                        Molestias iusto ullam accusantium?
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
