
@{
    ViewBag.Title = "Perfil profesional";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Perfil profesional</h2>
            <span>Este es una sección 01:</span>
            <ul>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
            </ul>
            <span>Este es una sección 02:</span>
            <ul>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
            </ul>
            <span>Este es una sección 03:</span>
            <ul>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
            </ul>
            <span>Este es una sección 04:</span>
            <ul>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
            </ul>
            <span>Este es una sección 05:</span>
            <ul>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
                <li>
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis amet accusamus nisi illo iusto odit
                        beatae, laboriosam perferendis modi ab ut, sit, facere quam repellendus doloribus dolore id dolorem
                        dolores.
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>